<a href="https://colab.research.google.com/github/changsksu/IMSE_Data_Science/blob/main/A2_picking_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This demo shows how to read the Ex4.9 data set into Python. 4.9.csv is on my google drive

In [ ]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# mount google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#the 2nd read option assume that the data file is rignt under your default google drive directory
# the sep-',' argument in the read statement should be used in some cases if ; does not work
data = pd.read_csv('drive/My Drive/Colab Notebooks/IMSE_Data_Science/Data/4.9.csv', sep=',', na_values=".")
data

   Catalyst 1   Catalyst 2
0       91.50        89.19
1       94.18        90.95
2       92.18        90.46
3       95.39        93.21
4       91.79        97.19
5       89.07        97.04
6       94.72        91.07
7       89.21        92.75

In [ ]:
x=data['Catalyst 1']
x

0    91.50
1    94.18
2    92.18
3    95.39
4    91.79
5    89.07
6    94.72
7    89.21
Name: Catalyst 1, dtype: float64

In [ ]:
#note that there is a space in front of Catalyst 2. Since the space is a part of the name, it should be included
#choose the column name after you type in data[]; this will ease the potential naming issue
y=data[' Catalyst 2']
y

0    89.19
1    90.95
2    90.46
3    93.21
4    97.19
5    97.04
6    91.07
7    92.75
Name:  Catalyst 2, dtype: float64

In [ ]:
# use numpy array to separate the data
a=data.to_numpy()
a

array([[91.5 , 89.19],
       [94.18, 90.95],
       [92.18, 90.46],
       [95.39, 93.21],
       [91.79, 97.19],
       [89.07, 97.04],
       [94.72, 91.07],
       [89.21, 92.75]])

In [ ]:
# obtain the first column
b=a[:,0]
b

array([91.5 , 94.18, 92.18, 95.39, 91.79, 89.07, 94.72, 89.21])